.form-container {
    width: 50%;
    margin: auto;
}
.form-container {
    box-shadow: 0 0 10px #5a5afc;
    border-radius: 10px;
}
button {
    float: right;
}
@media (max-width: 768px) {
    .form-container {
        width: 100%;
    }
}