<div class="container">
<h1 class="text-center fw-bold">Angular Forms</h1>
  <div class="form-container p-5 mt-5 mb-5">
    <h2 class="text-center">Reactive Form</h2>
    <form class="row g-3">
      <div class="col-sm-12">
        <label for="fullName">Full Name</label>
        <input type="text" class="form-control" name="fullName">
      </div>

      <div class="col-sm-12">
        <label for="contactNum">Contact Number</label>
        <input type="text" class="form-control" name="contactNum">
      </div>

      <div class="col-sm-12">
        <label for="email">Email</label>
        <input type="email" class="form-control" name="email">
      </div>

      <div class="col-sm-12">
        <label for="address">Address</label>
        <textarea name="address" id="addr" class="form-control"></textarea>
      </div>

      <div class="col-sm-12">
         <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </form>
  </div>
</div>

<router-outlet />